absl-py==2.4.0
asgiref==3.11.1
charset-normalizer==3.4.6
Django==6.0.3
django-auth-ldap==5.3.0
django-bootstrap5==26.2
django-stubs==6.0.1
django-stubs-ext==6.0.1
django-types==0.23.0
gunicorn==25.2.0
immutabledict==4.3.1
numpy==2.4.3
ortools==9.14.6206
packaging==26.0
pandas==3.0.1
pillow==12.1.1
protobuf==6.31.1
pyasn1==0.6.3
pyasn1_modules==0.4.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-ldap==3.4.5
reportlab==4.4.10
six==1.17.0
sqlparse==0.5.5
types-psycopg2==2.9.21.20260223
types-PyYAML==6.0.12.20250915
typing_extensions==4.15.0
