absl-py==1.4.0
asgiref==3.7.2
Django==4.2.5
django-auth-ldap==4.5.0
django-bootstrap5==23.3
django-stubs==4.2.4
django-stubs-ext==4.2.2
django-types==0.17.0
gunicorn==21.2.0
mypy==1.5.1
mypy-extensions==1.0.0
numpy==1.25.2
ortools==9.6.2534
packaging==23.1
protobuf==4.24.3
pyasn1==0.5.0
pyasn1-modules==0.3.0
python-dotenv==1.0.0
python-ldap==3.4.3
scipy==1.11.2
sqlparse==0.4.4
types-pytz==2023.3.0.1
types-PyYAML==6.0.12.11
typing_extensions==4.7.1
