  {% if teams %}
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-4 g-4">
    {% for team in teams %}
    <div class="col">
      <div class="card overflow-hidden">
        <div class="card-header text-break" style="min-height: 6.75em">
          <div>
            <span class="float-start"><i class="bi bi-people-fill me-1"></i> <strong>{{ team.project.pid }}</strong></span>
            <span class="float-end text-muted small"">{% if is_management_view %}{{ team.happiness.summary|safe }}{% endif %} <i class="bi bi-person-fill ms-3 me-1"></i>{% if team.student_active_count != team.students|length %}{{ team.student_active_count }}/{% endif %}{{ team.students|length }} <a href="mailto:{{ team.emails|join:',' }}"><i class="bi bi-envelope ms-3 text-muted"></i></a></span><br>
          </div>
          <div class="clearfix mt-1 lh-sm">
            <small>{{ team.project.name }}</small>
          </div>
        </div>
        <div class="card-body p-0">
          <ul class="list-group list-group-flush">
            {% for student in team.students %}
            {% if student.is_active or is_management_view %}
            <li class="list-group-item text-break{% if student.is_project_leader %} fw-semibold{% endif %}">
              <span class="text-truncate{% if student.is_out %} text-danger text-decoration-line-through{% endif %}">{{ student.name }}</span>
              {% if student.is_wing %}<span class="badge rounded-pill text-bg-secondary ms-1 float-end">WIng</span>{% endif %}
              {% if student.is_project_leader %}<span class="badge rounded-pill text-bg-primary ms-1 float-end">PL</span>{% endif %}
              {% if is_management_view %}
              <div class="fw-normal text-muted" style="font-size: .6em;">
                <span title="Happiness Score">{{ student.stats.summary | safe }}</span>
              </div>
              {% endif %}
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
        <!-- <div class="card-footer text-center"></div> -->
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div>Keine Teams vorhanden!</div>
  {% endif %}