{# vim: set filetype=htmldjango: #}

{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block content %}

<div class="container my-5">
  <h2>Feedback</h2>
</div>

<div class="container my-5">
  <h3>SE I - Peer-Feedback</h3>
  {% for result in peer_feedback_1_results %}
  <h4>{{ result.team.project_instance.piid }}</h4>
  {% if result.results|length > 0 %}
  <table class="table w-auto align-middle">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th class="text-center" scope="col">⌀ Beitrag</th>
        <th class="text-center" scope="col">⌀ Zusammenarbeit</th>
        <th class="text-center" scope="col">⌀ Zuverlässigkeit</th>
        <th class="text-center" scope="col">⌀ Gesamt</th>
      </tr>
    </thead>
    <tbody>
      {% for result2 in result.results %}
      <tr>
        <td>{{ result2.student.name }}</td>
        <td class="text-center">{{ result2.avg_contribution_score|stringformat:".2f" }}</td>
        <td class="text-center">{{ result2.avg_collaboration_score|stringformat:".2f" }}</td>
        <td class="text-center">{{ result2.avg_reliability_score|stringformat:".2f" }}</td>
        <td class="text-center">{{ result2.avg_total_score|stringformat:".2f" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p class="text-secondary"><small>Keine Feedbacks vorhanden.</small></p>
  {% endif %}
  {% endfor %}
</div>

{% endblock content %}
