{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block content %}


<div class="container my-5">
  <h3>Rolle {% if project %}ändern{% else %}hinzufügen{% endif %}</h3>
  <form method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form RoleForm %}

    <div class="">
      {# Are nested placeholder possible? #}
      {#% bootstrap_button button_type="link" content="Back" href="{{ url 'projects' }}" %#}
      <a href="{% url 'roles' %}" type="button" class="btn btn-light">Zurück</a>

      <div class="float-end">
        {% bootstrap_button button_type="reset" button_class="btn-light" content="Reset" %}
        {% if role %}
        {% bootstrap_button button_type="submit" button_class="btn-warning" content="Ändern" %}
        {# bootstrap_button button_type="submit" content="Löschen" #}
        {% else %}
        {% bootstrap_button button_type="submit" button_class="btn-success" content="Hinzufügen" %}
        {% endif %}
      </div>
    </div>
  </form>
</div>

{% endblock content %}
