{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block content %}

<div class="container my-5">

<h2>Rollen</h2>
  <div class="alert alert-warning small" role="alert">
    Beim Hinzufügen und Ändern von Rollen bitte folgendes beachten:
    <ul class="mb-0">
      <li>Die <u>erste</u> Rolle in der Auflistung wird für die Teamgenerierung als "Projektleitung" (Markierung PL) angesehen und nur <u>einmal</u> pro Team vergeben.</li>
      <li>Es müssen mindestens <u>zwei</u> Rollen für die Teamgenerierung vorhanden sein, da mindestens eine weitere Rolle für die restlichen Teammitglieder vorhanden sein muss.</li>
    </ul>
  </div>

  <ul class="list-group">
    {% for role in roles %}
    <li class="list-group-item d-flex align-items-center">
      <div class="flex-grow-1">
        <i class="bi bi-person me-1"></i>
        {{ role.name }}
        {% if forloop.first %}<span class="badge rounded-pill text-bg-primary ms-1">PL</span>{% endif %}
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end ms-3">
        <a href="{% url 'role-update' role.id %}" class="btn btn-primary btn-sm me-md-1" type="button"><i class="bi bi-pencil-square"></i></a>
        <form action="{% url 'role-delete' role.id %}" method="POST">
          {% csrf_token %}
          <button class="btn btn-danger btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal-role-{{ role.id }}"><i class="bi bi-trash3"></i></button>
          <!-- Modal: for delete confirmation dialog-->
          <div class="modal fade" id="deleteConfirmationModal-role-{{ role.id }}" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel-role-{{ role.id }}" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="deleteConfirmationModalLabel-role-{{ role.id }}">Löschbestätigung</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Soll die Rolle "<strong>{{ role.name }}</strong>" wirklich gelöscht werden?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Abbrechen</button>
                  <button class="btn btn-danger" type="submit"><i class="bi bi-trash3 me-2"></i>Löschen</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </li>
    {% endfor %}
    <li class="list-group-item d-flex align-items-center">
      <div class="flex-grow-1 text-black-50">
        {% if not roles %}Keine Rollen vorhanden!{% endif %}
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end ms-3">
        <a href="{% url 'role-add' %}" class="btn btn-success btn-sm" type="button"><i class="bi bi-plus"></i></a>
      </div>
    </li>
  </ul>
</div>

{% endblock content %}
