{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block content %}

<div class="container my-5">
  <h2>Statistiken</h2>
  <p>
    <i class="bi bi-box me-1"></i> Projekte: <strong>{{ stats.count.project }}</strong>, <small class="text-secondary">verwendet werden <strong>{{ stats.count.project_used }}</strong> bei mindestens {{ settings.team_min_member }} Studenten</small><br />
    <i class="bi bi-person-fill me-1"></i> Studenten: <strong>{{ stats.count.student }}</strong>, <small class="text-secondary">davon <strong>{{ stats.count.student_out }}</strong> ausgeschieden, pro Studiengang
    {% for study_program in stats.count.study_programs %}
      {{ study_program.study_program }}: <strong>{{ study_program.total }}</strong>{% if not forloop.last %}, {% endif %}
    {% empty %}
      0
    {% endfor %}</small><br />
    <i class="bi bi-person me-1"></i> Rollen: <strong>{{ stats.count.role }}</strong><br />
    <i class="bi bi-people-fill me-1"></i> Teams: <strong>{{ stats.count.team }}</strong><br />
  </p>
</div>

<div class="container my-5">
  <h3>Fragebögen</h3>
  <div class="progress mt-3 mb-1" role="progressbar" aria-label="Example with label" aria-valuenow="{{ stats.poll.all.percent|stringformat:".2f" }}" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar" style="width: {{ stats.poll.all.percent|stringformat:".2f" }}%">{{ stats.poll.all.percent|stringformat:".0f" }}%</div>
  </div>
  <p>Beantwortet: <strong>{{ stats.poll.all.percent|stringformat:".0f" }}%</strong></p>

  <!-- Bootstrap 5.2 -->
  <div class="progress mt-3 mb-1">
    <div class="progress-bar bg-success" role="progressbar" aria-label="Segment one" style="width: {{ stats.poll.filled.percent|stringformat:".2f" }}%" aria-valuenow="{{ stats.poll.filled.percent|stringformat:".2f" }}" aria-valuemin="0" aria-valuemax="100">{{ stats.poll.filled.count }}</div>
    <div class="progress-bar bg-warning text-dark" role="progressbar" aria-label="Segment two" style="width: {{ stats.poll.generated.percent|stringformat:".2f" }}%" aria-valuenow="{{ stats.poll.generated.percent|stringformat:".2f" }}" aria-valuemin="0" aria-valuemax="100">{{ stats.poll.generated.count }}</div>
  </div>

  {% comment %}
  <!-- Bootstrap 5.3 -->
  <div class="progress-stacked">
    <div class="progress" role="progressbar" aria-label="Segment one" aria-valuenow="{{ stats.poll.filled.percent|stringformat:".2f" }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ stats.poll.filled.percent|stringformat:".2f" }}%">
      <div class="progress-bar bg-success">{{ stats.poll.filled.count }}</div>
    </div>
    <div class="progress" role="progressbar" aria-label="Segment two" aria-valuenow="{{ stats.poll.generated.percent|stringformat:".2f" }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ stats.poll.generated.percent|stringformat:".2f" }}%">
      <div class="progress-bar bg-warning text-dark">{{ stats.poll.generated.count }}</div>
    </div>
  </div>
  {% endcomment %}

  <p>
    Studenten mit ausgefülltem Fragebogen: <strong>{{ stats.poll.filled.count }}</strong> ({{ stats.poll.filled.percent|stringformat:".0f" }}%)<br />
    Studenten mit generiertem Fragebogen: <strong>{{ stats.poll.generated.count }}</strong> ({{ stats.poll.generated.percent|stringformat:".0f" }}%)<br />
    Studenten ohne Fragebogen: <strong>{{ stats.poll.empty.count }}</strong> ({{ stats.poll.empty.percent|stringformat:".0f" }}%)
  </p>
</div>

<div class="container my-5">
  <h3>Beliebtheit Projekte</h3>
  <table class="table w-auto align-middle">
    <thead>
      <tr>
        <th class="text-center" scope="col">Score</th>
        <th class="text-center" scope="col">⌀</th>
        <th class="text-center" scope="col">PID</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
    {% for project in stats.projects %}
      <tr>
        <td class="text-center {{ project.color }}"><strong>{{ project.score }}</strong></td>
        <td class="text-center text-secondary"><small>{{ project.score_avg|stringformat:".2f" }}</small></td>
        <td class="text-center"><span class="badge bg-light text-dark fs-6 flex-shrink-0" style="display:inline-block; width:45px">{{ project.pid }}</span></td>
        <td>
          {{ project.name }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<div class="container my-5">
  <h3>Beliebtheit Rollen</h3>
  <table class="table w-auto align-middle">
    <thead>
      <tr class="">
        <th class="text-center" scope="col">Score</th>
        <th class="text-center" scope="col">⌀</th>
        <th class="" scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
    {% for role in stats.roles %}
      <tr class="">
        <td class="text-center {{ role.color }}"><strong>{{ role.score }}</strong></td>
        <td class="text-center text-secondary"><small>{{ role.score_avg|stringformat:".2f" }}</small></td>
        <td class="">
          {{ role.name }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}