<!DOCTYPE html>
{% comment %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
{% endcomment %}
<html lang="de">

<head>
  <title>Teamverwaltung</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {#<link href="css/style.css" rel="stylesheet" />#}
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">

  {# Load the tag library #}
  {% load django_bootstrap5 %}

  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11/font/bootstrap-icons.css">

  {# Display django.contrib.messages as Bootstrap alerts #}
  {#% bootstrap_messages %#}

</head>

<body>
  <header class="sticky-top d-flex flex-wrap align-items-center justify-content-center justify-content-md-between p-3 mb-4 bg-white border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none text-body">
        <!-- <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg> -->

        <span class="fs-4"><i class="bi bi-people-fill me-1"></i> Teamverwaltung</span>
      </a>
    </div>

    {% if user.is_authenticated %}
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      {% if settings.projects_is_visible %}
      <li><a href="/#projects" class="nav-link px-2">Projekte</a></li>
      {% endif %}
      {% if settings.poll_is_visible %}
      <li><a href="/#poll" class="nav-link px-2">Fragebogen</a></li>
      {% endif %}
      {% if settings.teams_is_visible %}
      <li><a href="/#teams" class="nav-link px-2">Teams</a></li>
      {% endif %}
      {% if user.is_superuser %}
      <div class="dropdown">
        <a class="nav-link link-danger dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          Verwaltung
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li>
            <a class="dropdown-item" href="/settings"><i class="bi bi-sliders"></i> Einstellungen</a>
          </li>
          <li><hr class="dropdown-divider"></li>
          <li>
            <a class="dropdown-item d-flex" href="/projects">
              <div class="me-auto"><i class="bi bi-box me-1"></i> Projekte</div>
              <div><span class="badge text-bg-light rounded-pill ms-3">{{ COUNTS.project }}</span></div>
            </a>
          </li>
          <li>
            <a class="dropdown-item d-flex" href="/students">
              <div class="me-auto"><i class="bi bi-person-fill me-1"></i> Studenten</div>
              <div><span class="badge text-bg-light rounded-pill ms-3">{{ COUNTS.student }}</span></div>
            </a>
          </li>
  {% comment %}
          <!-- <li> -->
          <!--   <a class="dropdown-item d-flex" href="/roles"> -->
          <!--     <div class="me-auto"><i class="bi bi-person me-1"></i> Rollen</div> -->
          <!--     <div><span class="badge text-bg-light rounded-pill ms-3">{{ COUNTS.role }}</span></div> -->
          <!--   </a> -->
          <!-- </li> -->
  {% endcomment %}
          <li><hr class="dropdown-divider"></li>
          <li>
            <a class="dropdown-item d-flex" href="/teams">
              <div class="me-auto"><i class="bi bi-people-fill me-1"></i> Teams</div>
              <div><span class="badge text-bg-light rounded-pill ms-3">{{ COUNTS.team }}</span></div>
            </a>
          </li>
          <li><hr class="dropdown-divider"></li>
          <li>
            <a class="dropdown-item" href="/stats"><i class="bi bi-bar-chart me-1"></i> Statistiken</a>
          </li>
          <li><hr class="dropdown-divider"></li>
          <li>
            <a class="dropdown-item" href="/admin"><i class="bi bi-database-exclamation me-1"></i> Django Admin</a>
          </li>
        </ul>
      </div>
      {% endif %}
    </ul>
    {% endif %}

    <div class="col-md-3 text-end">
      {% if user.is_authenticated %}
      <!-- <a class="nav-link" href="/logout">Logout</a> -->
      <!-- <button type="button" class="btn btn-outline-primary">Logout</button> -->
      <a href="{% url 'logout' %}" type="button" class="btn btn-outline-primary">Logout ({{ user.get_username }})</a>
      {% else %}
      <!-- <a class="nav-link" href="/login">Login</a> -->
      <!-- <button type="button" class="btn btn-outline-primary">Login</button> -->
      <a href="{% url 'login' %}" type="button" class="btn btn-outline-primary">Login</a>
      {% endif %}
    </div>
  </header>

  {% if user.is_superuser %}
    {#% include "notes-development.inc.html" %#}
  {% endif %}

  <div class="container my-5">
  {% bootstrap_messages %}
  </div>

  {% block content %}
  {% endblock content %}

</body>

</html>
